/* --------------------------------------------------------------------------- */
/*
/*	cardMember
/*
/* --------------------------------------------------------------------------- */
.cardMember {
	background-color: $colorSecondary;
	color: #fff;
	min-height: unset;
	padding: 42px 36px;

	&__button {
		max-width: unset;
		text-transform: uppercase;
		width: 100% !important;
	}

	&__text {
		font-size: 1.2rem;
		margin-bottom: 18px;

		@media (max-width:1000px) {
			font-size: 1rem;
		}
	}

	&__headline {
		font-size: 2rem;
		font-weight: normal;
		margin-bottom: 24px;
		text-transform: uppercase;

		@media (max-width:1000px) {
			font-size: 1.5rem;
		}
	}
}