/* --------------------------------------------------------------------------- */
/*
/*	footerSocial
/*
/* --------------------------------------------------------------------------- */
.footerSocial {
	text-align: center;
	
	&__container {
		padding: 1em 0;
		background-color: #fff;
		border-bottom: 1px solid #707070;
	}

	&__text {
		margin-bottom: 10px;
		// font-size: .9rem;
	}

	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__button {
		color: $colorPrimary;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 38px;
		width: 38px;
		margin-right: 10px;
		border: 1px solid currentColor;
		border-radius: 50%;
	}

	&__Icon {
		display: block;
		width: 15px;
		height: 15px;
		fill: currentColor;
	}
}