/* --------------------------------------------------------------------------- */
/*
/*	form
/*
/* --------------------------------------------------------------------------- */
.form {
    padding: 34px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    background-color: #fff;

    &__headline {
        background-color: $colorPrimary;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        &--2 {
            grid-template-columns: 1fr 1fr;
            @media (max-width:1200px){
                grid-template-columns: 1fr;
            }
        }
    }

    &__error {
        font-size: 0.55rem;
        padding-left: 20px;
        padding-top: 5px;

        &:empty {
            display: none;
        }
    }

    &__label {
        margin-bottom: 11px;
        font-size: 0.8rem;

        &:after {
            content: '*';
            color: $colorPrimary;
        }
    }

    &__input {
        display: block;
        width: 100%;
        border: 1px #dbdbdb solid;
        height: 70px;
        padding: 26px;

        &:focus {
            // outline: none;
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
        }

        &--textarea {
            resize: none;
            height: 177px;
        }
    }

    &__button {
        background-color: #f37021;
        color: #fff;
        border-radius: 10px;
        font-size: .9rem;
        font-weight: normal;
        border: 0;
        line-height: 1.12;
        padding: 20px;
        position: relative;
        outline: 0;
        text-transform: uppercase;
    }

    &__note{
        font-size: 0.7rem;
    }
}