/* --------------------------------------------------------------------------- */
/*
/*	imageNews
/*
/* --------------------------------------------------------------------------- */
.imageNews {
	position: relative;
	display: block;
	color: #fff;
	min-height: 520px;
	background-color: $backgroundGrey;

	@media (max-width:1000px) {
		min-height: 220px;
		display: flex;
	}

	&:hover &__image {
		transform: scale(1.1);
		transition: all .6s ease;
	}

	&__type {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $colorPrimary;
		text-transform: uppercase;
		padding: 10px 20px;
		font-size: 0.63rem;
		z-index: 10;
	}

	&__imageContainer {
		overflow: hidden;
		margin-bottom: 1em;
		transition: all .6s ease;

		@media (max-width:1000px) {
			object-fit: cover;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			&:before {
				content: "";
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, .2);
			}
		}
	}

	&__image {
		width: 100%;
		display: block;
	}

	&__content &__headline {
		padding: 0;
	}

	&__headline {
		padding: 0 40px;
		margin-bottom: 2.44rem;
		font-weight: normal;

		@media (max-width:1000px) {
			display: flex;
			position: relative;
			z-index: 10;
			padding: 0 12px;
			text-align: left;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;

			h3 {
				font-size: 1.2em;
			}
		}
	}
}