/* --------------------------------------------------------------------------- */
/*
/*	introText
/*
/* --------------------------------------------------------------------------- */
.introText {
	margin-bottom: 3rem;
	text-align: center;

	&__paragraph {
		line-height: 1.5;

		@media (max-width:1000px) {
			font-size: 0.77em;
		}
	}
}