/* --------------------------------------------------------------------------- */
/*
/*	magazin
/*
/* --------------------------------------------------------------------------- */
.magazin {
	&:hover &__image {
		scale: 1.04;
		transition: all .4s ease;
	}

	&:hover &__imageWrapper {
		transition: all .2s ease;
		background-color: rgba($colorSecondary, .1);
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;

		@media (max-width: 1200px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 1000px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 800px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__imageWrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		// max-height: 370px;
		padding: 20px 40px;
		background-color: #fff;
	}

	&__image {
		object-fit: fill;
		display: block;
		height: 350px;
		width: auto;

		@media (max-width: 1700px) {
			max-height: 320px;
		}

		@media (max-width: 1500px) {
			max-height: 290px;
		}

		@media (max-width: 1300px) {
			height: 250px;
		}

		@media (max-width: 1200px) {
			height: 220px;
		}
	}

	&__bar {
		background-color: $colorSecondary;
		padding: 15px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		padding-right: 30px;
		font-size: 0.9rem;

		@media (max-width:1000px) {
			font-size: 0.75rem;
		}
	}

	&__button {
		background-color: $colorPrimary;
		padding: 20px 20px;
		height: 75px;
		width: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		fill: currentColor;
	}
}