.searchResults {
    margin-bottom: 20px;

    &__text {
        @media (max-width:1000px) {
            font-size: .8rem;
        }
    }

    &__title {
        align-items: center;
        color: orange;
        display: inline-block;
        font-size: 1.25rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        display: inline-block;
        fill: currentColor;
        height: 20px;
        width: 18px;
    }
}