/* --------------------------------------------------------------------------- */
/*
/*	slider
/*
/* --------------------------------------------------------------------------- */
.slider {
	color: #fff;

	@media (max-width: 320px) {}

	&__hero {
		position: relative;
	}

	&__content {
		display: flex;
		flex-direction: column;
		left: 50%;
		position: absolute;
		top: 40%;
		transform: translate(-50%, -50%);
		width: 70%;

		@media (max-width:1200px) {
			top: 30%;
			width: 80%;
		}

		@media (max-width:1000px) {
			text-align: center;
		}
	}

	&__headline {
		font-weight: bold;
		margin-bottom: 0.76em;

		@media (max-width:500px) {
			font-size: 2rem;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;

		@media (max-width:1000px) {
			justify-content: center;
		}

		& a {
			margin-bottom: .5em;
			margin-right: 1em;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__image {
		height: calc(100vh - 205px);
		min-height: 700px;
		object-fit: cover;
		width: 100%;

		@media (max-width:1350px) {
			height: calc(100vh - 174px);
		}

		@media (max-width:1000px) {
			height: calc(100vh - 117px);
		}
	}

	&__nav {
		bottom: 40px;
		font-size: 0.9rem;
		left: 0;
		position: absolute;

		@media (max-width:1000px) {
			font-size: 0.8rem;
		}

		&List {
			display: flex;
			justify-content: space-between;
			position: relative;

			@media (max-width:900px) {
				display: none;
			}

			:not(:last-child) {
				margin-right: 2em;
			}
		}

		&Item {
			color: #fff;
			cursor: pointer;
			flex: 1 1 0px;
			padding: 8px 0 8px 12px;
			position: relative;

			&:active {
				font-weight: bold;
			}

			@media (max-width:1000px) {
				margin-bottom: 20px;
			}

			&:before {
				background-color: #fff;
				bottom: 0em;
				content: "";
				left: 0;
				position: absolute;
				top: 0;
				width: 2px;
			}

			&.active:before,
			&:hover:before {
				background-color: $colorPrimary;
				transition: all .2s ease;
				width: 5px;
			}
		}
	}

	.slick-dots {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		position: absolute;
		right: 2em;
		top: 50%;
		transform: translateY(-50%);

		@media (max-width:1000px) {
			bottom: 2em;
			flex-direction: row;
			right: 50%;
			top: unset;
			transform: translateX(-50%);
			transform: translateY(0);
		}

		li button {
			background-color: transparent;
			border: 1px solid #fff;
			border-radius: 16px;
			font-size: 0;
			height: 16px;
			width: 16px;
		}

		li.slick-active button,
		button:hover {
			background-color: #fff;
			border: 0px;
			height: 16px;
			transition: all .2s ease;
		}
	}
}