/* --------------------------------------------------------------------------- */
/*
/*	slider
/*
/* --------------------------------------------------------------------------- */
.slider {
	color: #fff;

	&__hero {
		position: relative;
	}

	&__content {
		position: absolute;
		width: 70%;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;

		@media (max-width:1200px) {
			top: 30%;
			width: 80%;
		}

		@media (max-width:1000px) {
			text-align: center;
		}
	}

	&__headline {
		font-weight: bold;
		margin-bottom: 0.76em;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;

		@media (max-width:1000px) {
			justify-content: center;
		}

		& a {
			margin-right: 1em;
			margin-bottom: .5em;
		}
	}

	&__image {
		width: 100%;
		height: calc(100vh - 205px);
		object-fit: cover;

		@media (max-width:1350px) {
			height: calc(100vh - 174px);
		}

		@media (max-width:1000px) {
			height: calc(100vh - 117px);
		}
	}

	&__nav {
		position: absolute;
		bottom: 5%;
		left: 0;
		font-size: 0.9rem;

		@media (max-width:1000px) {
			font-size: 0.8rem;
		}

		&List {
			position: relative;
			display: flex;
			justify-content: space-between;

			:not(:last-child) {
				margin-right: 2em;
			}

			@media (max-width:900px) {
				display: none; 
				// display: grid;
				// grid-template-columns: 1fr 1fr;
				// gap: 1em 0;
			}
		}

		&Item {
			position: relative;
			flex: 1 1 0px;
			padding: 10px 0 20px 15px;
			cursor: pointer;
			color: #fff;

			@media (max-width:1000px) {
				margin-bottom: 20px;
			}

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0em;
				width: 2px;
				background-color: #fff;
			}

			&.active:before,
			&:hover:before {
				transition: all .2s ease;
				width: 5px;
				background-color: $colorPrimary;
			}
		}
	}

	.slick-dots {
		position: absolute;
		right: 2em;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;

		@media (max-width:1000px) {
			top: unset;
			bottom: 2em;
			right: 50%;
			transform: translateX(-50%);
			transform: translateY(0);
			flex-direction: row;
		}

		li button {
			background-color: transparent;
			font-size: 0;
			width: 16px;
			height: 16px;
			border-radius: 16px;
			border: 1px solid #fff;
		}

		li.slick-active button,
		button:hover {
			border: 0px;
			background-color: #fff;
			height: 16px;
			transition: all .2s ease;
		}
	}

	@media (max-width: 320px) {}
}