/* --------------------------------------------------------------------------- */
/*
/*	tabs
/*
/* --------------------------------------------------------------------------- */
.tabs {
	display: flex;
	flex-wrap: wrap;

	&__item {
		cursor: pointer;
		padding-bottom: 1em;
		position: relative;
		margin-bottom: 1em;

		&:not(:last-child) {
			margin-right: 40px;
		}

		&.active {
			font-weight: bold;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				background: $colorPrimary;
			}
		}

		@media (max-width:1000px){
			font-size: 0.7rem;
		}
	}

	&__itemButton {
		color: $colorPrimary;
	}

	&__content {
		display: none;
	}

	&__contentText {
		padding-bottom: 2em;
		 
		@media (max-width:1000px){
			font-size: 0.8em;
		}
	}
}