/* --------------------------------------------------------------------------- */
/*
/*	teaser
/*
/* --------------------------------------------------------------------------- */
.teaser {
    &--withImage {
        padding: 95px 80px;
    }

    &__background {
        @media (max-width:1000px) {
            padding: 2rem 0;
        }
    }

    &__wrapper {
        display: grid;
        gap: 140px;
        grid-template-columns: 1fr 1fr;

        @media (max-width:1000px) {
            gap: 2em;
            grid-template-columns: 1fr;
        }
    }

    &__button {
        margin-bottom: 2em;
    }

    & h3 {
        margin-bottom: 1.16em;

        @media (max-width:1000px) {
            margin-bottom: .65em;
        }
    }

    &__imageWrapper {
        align-items: center;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &:hover .teaser__image {
            transform: scale(1.05);
            width: 100%;
        }
    }

    &__imageContainer {
        overflow: hidden;
    }

    &__image {
        display: block;
        height: 100%;
        object-fit: cover;
        transition: all .2s ease;
    }
}