/* --------------------------------------------------------------------------- */
/*
/*	teaser
/*
/* --------------------------------------------------------------------------- */
.teaser {

    &__background {
        padding: 5rem 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 140px;
    }

    &__introtext {
        line-height: 1.5;
        margin-bottom: 45px;
    }

    &__button {
        margin-bottom: 45px;
    }
}
