/* --------------------------------------------------------------------------- */
/*
/*	buttons
/*
/* --------------------------------------------------------------------------- */
.button {
	border-radius: 10px;
    font-size: 1.8rem;
    line-height: 1.12;
    padding: 20px;
	text-align: center;

	&:hover {

	}

	&Primary{
		background-color: $colorPrimary;
		color: #fff;
		max-width: 270px;
		width: 100%;
	}
	@media (max-width: 320px) {}
}
