id: 8
templatename: Bewerbungsformular
description: ''
category: Admin
icon: icon-envelope-o
properties: 'a:0:{}'

-----

[[$htmlHeader]]

        [[$header]]
        
        [[*content]]
        
        <!-- form -->
        <div class="pt0 pb4">
            <div class="containerBig ">
                <div class="containerFloat">
                    <div class="wrapperFloat">
                        
                        <div class="textLeft__headline2">
                            If you are interested in joining SW International, please complete the form below.
                        </div>
        
                        <form action="" class="form" method="post">
                            <div class="form__row form__row--2wide">
                                <div class="form__field--error">
                                    <div class="form__label">First Name</div>
                                    <input class="form__input" type="text">
                                    <div class="form__error">• This Value is required</div>
                                </div>
                                <div>
                                    <div class="form__label">Last Name</div>
                                    <div>
                                        <input class="form__input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row form__row--2wide">
                                <div>
                                    <div class="form__label">Title</div>
                                    <input class="form__input" type="text">
                                </div>
                                <div>
                                    <div class="form__label">Company</div>
                                    <div>
                                        <input class="form__input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row form__row--2wide">
                                <div>
                                    <div class="form__label">E-Mail</div>
                                    <div>
                                        <input class="form__input" type="text">
                                    </div>
                                </div>
                                <div>
                                    <div class="form__label">Contact Number</div>
                                    <div>
                                        <input class="form__input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row form__row--2wide">
                                <div>
                                    <div class="form__label">Country</div>
                                    <input class="form__input" type="text">
                                </div>
                                <div>
                                    <div class="form__label">No. of Partners</div>
                                    <div>
                                        <input class="form__input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row form__row--2wide">
                                <div>
                                    <div class="form__label">No. of Staff</div>
                                    <input class="form__input" type="text">
                                </div>
                                <div>
                                    <div class="form__label">Scope of Services</div>
                                    <div>
                                        <input class="form__input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row form__row--2wide">
                                <div>
                                    <div class="form__label">Locations(s) of Offices</div>
                                    <div>
                                        <input class="form__input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row">
                                <div>
                                    <div class="form__label">Your Enquiry / Comment</div>
                                    <div>
                                        <textarea name="message" class="form__input form__input--textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form__note">Fields marked with an asteriks (*) are required.</div>
                            <button type="submit" class="form__button">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        [[$footer]]
        
        [[$scripts]]

[[$htmlFooter]]