id: 3
templatename: Kontakt
description: ''
category: Admin
icon: icon-envelope
properties: 'a:0:{}'

-----

[[$htmlHeader]]

        [[$header]]
        
        [[*content]]
        
        <!-- grid-7-5 -->
        <div class="pt2 pb2">
            <div class="containerBig containerBig--butStillMargin">
                <div class="grid-7-5">
                    <div>
                        <div class="contact__wrapper">
                            <div class="contact">
                                <div class="contact__headline">SW International headquarters</div>
                                <div class="contact__info">
                                    <div>
                                        <svg class="contact__icon">
                                            <use xlink:href="img/sprite.svg#globe-solid"></use>
                                        </svg>
                                    </div>
                                    <a class="contact__link" href="">sw.international</a>
                                </div>
                                <div class="contact__info">
                                    <div>
                                        <svg class="contact__icon">
                                            <use xlink:href="img/sprite.svg#location-dot-solid"></use>
                                        </svg>
                                    </div>
                                    <span>17/F, Chubb Tower, Windsor House, 311 Gloucester Road, Causeway Bay,
                                        <br>
                                        Hong Kong
                                    </span>
                                </div>
                                <div class="contact__info">
                                    <div>
                                        <svg class="contact__icon">
                                            <use xlink:href="img/sprite.svg#globe-solid"></use>
                                        </svg>
                                    </div>
                                    <a class="contact__link" href="">sw.international</a>
                                </div>
                            </div>
                        </div>
    
                        <!-- SelectCountry -->
                        <div class="pt0 pb1">
                            <div class="countrySelect__wrapper">
                                <div class="countrySelect__label">Select Country / Region</div>
                                <select class="js-country-select countrySelect" name="country" id="country">
                                    <option hidden value="0">Select Country / Region</option>
                                    <option value="0">No Country Selected</option>
                                    <option value="Chile">China</option>
                                    <option value="China">Chile</option>
                                    <option value="Germany">Germany</option>
                                </select>
    
                                <div class="js-country-result-wrapper">
                                    <div class="js-country-result" id="No Country Selected"></div>
                                    <div class="js-country-result" id="No Country Selected"></div>
                                    <div class="countrySelect__resultsWrapper js-country-result" id="China">
                                        <div class="countrySelect__results ">
                                            <div class="contact">
                                                <div class="contact__headline">Beijing</div>
    
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#location-dot-solid"></use>
                                                        </svg>
                                                    </div>
                                                    17/F, Chubb Tower, Windsor House, 311 Gloucester Road, Causeway Bay,
                                                    <br>
                                                    Hong Kong
                                                </div>
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#envelope-regular"></use>
                                                        </svg>
                                                    </div>
                                                    <a class="contact__link" href="">
                                                        info@shinewing.com</a>
                                                </div>
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#globe-solid"></use>
                                                        </svg>
                                                    </div>
                                                    <a class="contact__link" href="">sw.international</a>
                                                </div>
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#phone-solid"></use>
                                                        </svg>
                                                    </div>
                                                    <a class="contact__link" href="">(86) 10 6554 2288</a>
                                                </div>
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#fax-solid"></use>
                                                        </svg>
                                                    </div>
                                                    <a class="contact__link" href="">(86) 10 6554 7190</a>
                                                </div>
                                            </div>
                                            <div class="contact">
                                                <div class="contact__headline">Changchun</div>
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#location-dot-solid"></use>
                                                        </svg>
                                                    </div>
                                                    <span>17/F, Chubb Tower, Windsor House, 311 Gloucester Road, Causeway
                                                        Bay,
                                                        <br>
                                                        Hong Kong
                                                    </span>
                                                </div>
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#brand-icon"></use>
                                                        </svg>
                                                    </div>
                                                    <a class="contact__link" href="">sw.international</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="countrySelect__resultsWrapper js-country-result" id="Chile">
                                        <div class="countrySelect__results ">
                                            <div class="contact">
                                                <div class="contact__headline">Something</div>
                                                <div class="contact__info">
                                                    <div>
                                                        <div>
                                                            <svg class="contact__icon">
                                                                <use xlink:href="img/sprite.svg#location-dot-solid"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <span>17/F, Chubb Tower, Windsor House, 311 Gloucester Road, Causeway
                                                        Bay,
                                                        <br>
                                                        Hong Kong
                                                    </span>
                                                </div>
                                                <div class="contact__info">
                                                    <div>
                                                        <div>
                                                            <svg class="contact__icon">
                                                                <use xlink:href="img/sprite.svg#brand-icon"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <a class="contact__link" href="">sw.international</a>
                                                </div>
                                            </div>
                                            <div class="contact">
                                                <div class="contact__headline">Changchun</div>
                                                <div class="contact__info">
                                                    <div>
                                                        <div>
                                                            <svg class="contact__icon">
                                                                <use xlink:href="img/sprite.svg#location-dot-solid"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <span>17/F, Chubb Tower, Windsor House, 311 Gloucester Road, Causeway
                                                        Bay,
                                                        <br>
                                                        Hong Kong
                                                    </span>
                                                </div>
                                                <div class="contact__info">
                                                    <div>
                                                        <svg class="contact__icon">
                                                            <use xlink:href="img/sprite.svg#brand-icon"></use>
                                                        </svg>
                                                    </div>
                                                    <a class="contact__link" href="">sw.international</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- MemmberCard -->
                        <div class="cardMember">
                            <div class="cardMember__headline">
                                Become a Memeber
                            </div>
                            <div class="cardMember__text">Member firms of SW International are known for their outstanding
                                and high-quality services.
                            </div>
                            <div class="cardMember__button">
                                <a href="[[~24]]" class="button">Become a Member</a>
                            </div>
                        </div>
    
                    </div>
                    <div>
                        <div>
                            <div class="form__headline">Contact form</div>
                            <form action="" class="form" method="post">
                                <div class="form__row form__row--2">
                                    <div class="form__field form__field--error">
                                        <div class="form__label">First Name</div>
                                        <div class="form__field">
                                            <input class="form__input" type="text">
                                        </div>
                                        <div class="form__error">• This Value is required</div>
                                    </div>
                                    <div class="form__field">
                                        <div class="form__label">Last Name</div>
                                        <div class="form__field">
                                            <input class="form__input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row form__row--2">
                                    <div class="form__field">
                                        <div class="form__label">E-Mail</div>
                                        <div class="form__field">
                                            <input class="form__input" type="text">
                                        </div>
                                    </div>
                                    <div class="form__field">
                                        <div class="form__label">Contact Number</div>
                                        <div class="form__field">
                                            <input class="form__input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row form__row--2">
                                    <div class="form__field">
                                        <div class="form__label">Country/Region</div>
                                        <div class="form__field">
                                            <input class="form__input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__field">
                                        <div class="form__label">Your Enquiry / Comment</div>
                                        <div class="form__field">
                                            <textarea name="message" class="form__input form__input--textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__note">Fields marked with an asteriks (*) are required.</div>
                                <button type="submit" class="form__button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        [[$footer]]
        
        [[$scripts]]

[[$htmlFooter]]