id: 3
templatename: Kontakt
description: ''
category: Admin
icon: icon-envelope
properties: 'a:0:{}'

-----

[[$htmlHeader]]

        [[$header]]
        
        [[*content]]
        
        <!-- grid-7-5 -->
        <div class="pt2 pb2">
            <div class="containerBig containerBig--butStillMargin">
                <div class="grid-7-5">
                    <div>
                        <div class="contact__wrapper">
                            <div class="contact">
                                <div class="contact__headline">[[++contactName]]</div>
                                <div class="contact__info">
                                    <div>
                                        <svg class="contact__icon">
                                            <use xlink:href="[[checksumFile? &file=`img/sprite.svg#location-dot-solid`]]"></use>
                                        </svg>
                                    </div>
                                    <span>[[++contactStreet]]
                                        <br>
                                        [[++contactCity]]
                                    </span>
                                </div>
                                <div class="contact__info">
                                    <div>
                                        <svg class="contact__icon">
                                            <use xlink:href="[[checksumFile? &file=`img/sprite.svg#globe-solid`]]"></use>
                                        </svg>
                                    </div>
                                    <a class="contact__link" href="">sw.international</a>
                                </div>
                            </div>
                        </div>
    
                        <!-- SelectCountry -->
                        <!--
                        <div class="pt0 pb1">
                            <div class="countrySelect__wrapper">
                                <div class="countrySelect__label">Select Country / Region</div>
                                <select class="js-country-select countrySelect" name="country" id="country">
                                    <option hidden value="0">Select Country / Region</option>
                                    [[!tvOptions?
                                        &tpl=`contactsOptionsTpl`
                                        &tv=`10`
                                    ]]
                                </select>
    
                                <div class="js-country-result-wrapper">
                                    <div class="js-country-result" id="No Country Selected"></div>
                                    [[!tvOptions?
                                        &tpl=`contactsRegionTpl`
                                        &tv=`10`
                                    ]]
                                </div>
                            </div>
                        </div>
                        -->
                        
                        <!-- MemmberCard -->
                        <div class="cardMember">
                            <div class="cardMember__headline">
                                Become a Member
                            </div>
                            <div class="cardMember__text">Member firms of SW International are known for their outstanding
                                and high-quality services.
                            </div>
                            <div class="cardMember__button">
                                <a href="[[~24]]" class="button">Become a Member</a>
                            </div>
                        </div>
    
                    </div>
                    
                    [[!FormIt?
                        &hooks=`spam,email,redirect`
                        &emailTpl=`emailContactTpl`
                        &emailSubject=`Inquiry`
                        &redirectTo=`41`
                        &emailFromName=`[[+firstname]] [[+lastname]]`
                        &emailTo=`st.wachter@gmail.com`
                        &emailReplyTo=`[[+email]]`
                        &emailFrom=`noreply@whitevision-hosting.de`
                        &validate=`nospam:blank,
                                   firstname:required,
                                   lastname:required,
                                   salutation:required,
                                   company:required,
                                   email:email:required,
                                   tel:required,
                                   country:required,
                                   message:required`
                    ]]
                    
                    <div>
                        <div class="form__headline">Contact form</div>
                        
                        <form action="[[~[[*id]]]]#cf" class="form" method="post" id="cf">
                            <input type="hidden" name="nospam:blank" value="[[!+fi.nospam]]">
                            
                            <div class="form__row form__row--2">
                                <div class="form__field [[!+fi.error.firstname:notempty=`form__field--error`]]">
                                    <div class="form__label">First Name</div>
                                    <input value="[[!+fi.firstname]]" name="firstname" class="form__input" type="text">
                                    [[!+fi.error.firstname:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                                <div class="form__field [[!+fi.error.lastname:notempty=`form__field--error`]]">
                                    <div class="form__label">Last Name</div>
                                    <input value="[[!+fi.lastname]]" name="lastname" class="form__input" type="text">
                                    [[!+fi.error.lastname:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                            </div>
                            <div class="form__row form__row--2">
                                <div class="form__field [[!+fi.error.salutation:notempty=`form__field--error`]]">
                                    <div class="form__label">Title</div>
                                    <input value="[[!+fi.salutation]]" name="salutation" class="form__input" type="text">
                                    [[!+fi.error.salutation:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                                <div class="form__field [[!+fi.error.company:notempty=`form__field--error`]]">
                                    <div class="form__label">Company</div>
                                    <input value="[[!+fi.company]]" name="company" class="form__input" type="text">
                                    [[!+fi.error.company:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                            </div>
                            <div class="form__row form__row--2">
                                <div class="form__field [[!+fi.error.email:notempty=`form__field--error`]]">
                                    <div class="form__label">E-Mail</div>
                                    <input value="[[!+fi.email]]" name="email" class="form__input" type="email">
                                    [[!+fi.error.email:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                                <div class="form__field [[!+fi.error.tel:notempty=`form__field--error`]]">
                                    <div class="form__label">Contact Number</div>
                                    <input value="[[!+fi.tel]]" name="tel" class="form__input" type="text">
                                    [[!+fi.error.tel:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                            </div>
                            <div class="form__row form__row--2">
                                <div class="form__field [[!+fi.error.country:notempty=`form__field--error`]]">
                                    <div class="form__label">Country/Region</div>
                                    <input value="[[!+fi.country]]" name="country" class="form__input" type="text">
                                    [[!+fi.error.country:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__field [[!+fi.error.message:notempty=`form__field--error`]]">
                                    <div class="form__label">Your Enquiry / Comment</div>
                                    <textarea name="message" class="form__input form__input--textarea">[[!+fi.message]]</textarea>
                                    [[!+fi.error.message:notempty=`<div class="form__error">This Value is required</div>`]]
                                </div>
                            </div>
                            <div class="form__note">Fields marked with an asteriks (*) are required.</div>
                            <button type="submit" class="form__button">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        [[$footer]]
        
        [[$scripts]]

[[$htmlFooter]]