id: 6
templatename: News-Übersicht
description: ''
category: Admin
icon: icon-newspaper-o
properties: 'a:0:{}'

-----

[[$htmlHeader]]

        [[$header]]
        
        [[*content]]
        
        <!-- filter -->
        <div class="pt1 pb1">
            <div class="containerBig">
                <div class="filter">
                    <select name="year" class="filter__select js-news-select">
                        <option value="0" class="js-news-default-option">All News</option>
                    </select>
                </div>
            </div>
        </div>
    
        <!-- news -->
        <div class="pt2 pb2">
            <div class="containerBig">
                <div class="news__wrapper js-news-result-wrapper">
                    [[!pdoPage?
                        &limit=`12`
                        &tpl=`newsTeaserTpl`
                        &includeTVs=`newsImage,newsIntro`
                        &processTVs=`1`
                        &tvPrefix=``
                        &tplPage=`@INLINE <a class="pagination__button" href="[[+href]]">[[+pageNo]]</a>`
                        &tplPageWrapper=`@INLINE <div class="pagination">[[+first]][[+prev]][[+pages]][[+next]][[+last]]</div>`
                        &tplPageActive=`@INLINE <a class="pagination__button active" href="[[+href]]">[[+pageNo]]</a>`
                        &tplPageFirst=``
                        &tplPageFirstEmpty=``
                        &tplPageLastEmpty=``
                        &tplPageLast=``
                        &tplPagePrevEmpty=``
                        &tplPageNextEmpty=``
                        &tplPagePrev=`@INLINE <a class="pagination__button" href="[[+href]]">«</a>`
                        &tplPageNext=`@INLINE <a class="pagination__button" href="[[+href]]">»</a>`
                    ]]
                </div>
            </div>
        </div>
    
        <!-- paginationButtons -->
        <div class="pt0 pb4">
            <div class="container">
                [[!+page.nav]]
            </div>
        </div>

        [[$footer]]
        
        [[$scripts]]

[[$htmlFooter]]