/* --------------------------------------------------------------------------- */
/*
/*	Globals
/*
/* --------------------------------------------------------------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
}

// root
:root {
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	color: $colorFont;
	font-family: $fontRegular;
	line-height: 1.5;
}

// body
html,
body {
	min-height: 100vh;

	&.freeze {
		overflow: hidden;
	}
}

body {
	display: flex;
	flex-direction: column;
	text-rendering: optimizeSpeed;
	background: #f8f8f8;

	// position: relative;
	&.language-open * {
		pointer-events: none;
	}
}

// text & links
p,
a {
	margin: 0;
	padding: 0;
	/*-webkit-transform: translateZ(0);*/
}

p {
	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

a {
	text-decoration: none;
	transition: all .2s ease;
	color: inherit;
}

// container
.container {
	margin: 0 70px;

	@media (max-width:1440px) {
		margin: 0 40px;
	}

	@media (max-width:800px) {
		margin: 0 20px;
	}
}

.containerBig {
	margin: 0 70px;

	@media (max-width:1440px) {
		margin: 0 15px;
	}

	@media (max-width:800px) {
		margin: 0
	}

	&--butStillMargin {
		@media (max-width:800px) {
			margin: 0 15px;
		}
	}
}

.containerMax {
	margin: 0;
}

// lists
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.background {
	&--secondary {
		background-color: $colorSecondary;
	}

	&--white {
		background-color: #fff;
	}
}

.colorSecondary {
	color: $colorSecondary;
}

.colorPrimary {
	color: $colorPrimary;
}

.colorPrimaryLight {
	color: $colorPrimaryLight;
}

.grid-7-5 {
	display: grid;
	grid-template-columns: 7fr 5fr;
	grid-gap: 30px;
	@media (max-width:800px){
	grid-template-columns: 1fr;	
	}
}