/* --------------------------------------------------------------------------- */
/*
/*	header
/*
/* --------------------------------------------------------------------------- */
.header {
    background: #fff;

    &__top {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 10px 0;

        @media (max-width:1000px) {
            padding: 5px 0;
        }

        &Logo {
            display: flex;
            align-items: center;
            width: 130px;
            height: 16px;
            margin-left: 5px;
        }
    }

    &__language {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.85rem;
        color: #fff;
        margin-left: auto;
        position: relative;

        & span {
            @media (max-width:1000px) {
                display: none;
            }
        }

        &Button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: currentColor;
            transition: all 0.2s ease;

            &:hover {
                fill: $colorPrimary;
            }
        }

        &Icon {
            height: 28px;
            width: 28px;
            margin-right: 10px;
        }
    }

    &__dropdown {
        display: none;
    }

    &__dropdown.active {
        display: block;
        position: absolute;
        bottom: -16px;
        left: 0px;
        z-index: 10;
        background-color: #fff;
        color: $colorSecondary;
        transform: translate(-20px, 100%);

        @media (max-width:1000px) {
            bottom: -5px;
            transform: translate(-200px, 100%);
        }
    }

    &__dropdownList {
        max-height: 314px;
        padding: 14px 13px 30px 33px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__dropdownItem {
        font-size: 1rem;
        padding: 10px 0;

        &:hover {
            text-decoration: underline;
        }
    }

    &__dropdownSearch {
        display: flex;
        justify-content: center;
    }

    &__dropdownSearchButton {
        display: flex;
    }

    &__dropdownSearchIcon {
        height: 18px;
        width: 18px;
        fill: #fff;
        align-self: center;
        margin-left: -40px;
    }

    &__dropdownInput {
        padding-left: 33px;
        height: 60px;
        width: 260px;
        background-color: $colorPrimary;
        color: #fff;
        border: none;
        outline: none;
        font-size: 0.7rem;

        &::placeholder {
            color: #fff;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;

        &Button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
            width: 28px;
            border: 1px solid currentColor;
            border-radius: 50%;
        }

        &Icon {
            display: block;
            padding: 1px;
            width: 15px;
            height: 15px;
            fill: currentColor;
        }
    }

    &__search {
        display: flex;
        align-items: center;

        @media (max-width:1000px) {
            display: none;
        }

        &Input {
            outline: none;
            border: none;
            background: none;
            width: 40px;
            float: left;
            transition: 0.3s;
            line-height: 40px;
            display: block;
            height: 40px;
            border-radius: 20px;
            background-color: #fff;
        }

        &Button {
            color: #fff;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: 0.3s;
            padding: 10px;
            margin-left: -40px;
            background: #efefef;
        }

        &:hover > &Input,
        &Input:focus {
            width: 240px;
            padding: 0 3em 0 1em;
        }

        &Field {
            height: 60px;
            border-radius: 20px;
        }

        &Icon {
            height: 100%;
            width: 100%;
            fill: $colorSecondary;
            align-self: center;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1000px) {
            padding: 10px 0;
        }

        // padding: 12px 0;
        &Icon {
            width: 190px;
            height: 82px;

            @media (max-width:1200px) {
                width: 120px;
                height: 52px;
            }
        }
    }

    &__nav {
        @media (max-width:1400px) {
            font-size: .9em;
        }

        @media (max-width:1200px) {
            font-size: .8em;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 2em;

            @media (max-width:1200px) {
                gap: 1em;
            }

            @media (max-width:1000px) {
                display: none;
            }

            li {
                text-transform: uppercase;
                line-height: 1.15px;

                &.active a,
                &:hover {
                    color: $colorPrimary;
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 140px;
                position: relative;

                @media (max-width:1350px) {
                    height: 114px;
                }

                @media (max-width:1200px) {
                    height: 100px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    bottom: 0;
                    height: 5px;
                    background: $colorPrimary;
                    transition: all .2s ease;
                }

                &:hover:after {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}