/* --------------------------------------------------------------------------- */
/*
/*	header
/*
/* --------------------------------------------------------------------------- */
.header {
    background: #fff;

    &__top {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 10px 0;

        &Logo {
            display: flex;
            align-items: center;
            width: 130px;
            height: 16px;
            margin-left: 5px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &Icon {
            height: 82px;
        }
    }

    &__language {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.85rem;
        color: #fff;
        margin-left: auto;

        &Button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: currentColor;
            transition: all 0.2s ease;

            &:hover {
                fill: $colorPrimary;
            }
        }

        &Icon {
            height: 28px;
            width: 28px;
            margin-right: 10px;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;

        &Button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
            width: 28px;
            border: 1px solid currentColor;
            border-radius: 50%;
        }

        &Icon {
            display: block;
            padding: 1px;
            width: 15px;
            height: 15px;
            fill: currentColor;
        }
    }

    &__search {
        display: flex;
        align-items: center;

        &Input {
            outline: none;
            border: none;
            background: none;
            width: 40px;
            float: left;
            transition: 0.3s;
            line-height: 40px;
            display: block;
            height: 40px;
            border-radius: 20px;
            background-color: #fff;
        }

        &Button {
            color: #fff;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: 0.3s;
            padding: 10px;
            margin-left: -40px;
            background: #efefef;
        }

        &:hover>&Input,
        &Input:focus {
            width: 240px;
            padding: 0 3em 0 1em;
        }

        &Field {
            height: 60px;
            border-radius: 20px;
        }

        &Icon {
            height: 100%;
            width: 100%;
            fill: $colorSecondary;
            align-self: center;
        }
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
            gap: 2em;

            li {
                text-transform: uppercase;
                line-height: 1.15px;

                &:hover {
                    color: $colorPrimary;
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 145px;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    bottom: 0;
                    height: 5px;
                    background: $colorPrimary;
                    transition: all .2s ease;
                }

                &:hover:after {
                    left: 0;
                    right: 0;
                }
            }
        }
    }

}