/* --------------------------------------------------------------------------- */
/*
/*	iconItem
/*
/* --------------------------------------------------------------------------- */
.iconItem {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.5em;
	@media (max-width:1000px) {
		font-size: 0.77em;
	}

	&__list{
		margin-bottom: 1em;
	}


	&__icon {
		fill: $colorPrimary;
		height: .6em;
		width: .6em;
		margin-right: 0.5em;
	}
}
