/* --------------------------------------------------------------------------- */
/*
/*	header
/*
/* --------------------------------------------------------------------------- */
.header {
    background: #fff;

    &__top {
        align-items: center;
        display: flex;
        gap: 2rem;
        padding: 10px 0;

        @media (max-width:1000px) {
            gap: 0;
            padding: 5px 0;
        }

        &Logo {
            align-items: center;
            display: flex;
            height: 16px;
            margin-left: 5px;
            width: 130px;
        }
    }

    &__language {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 0.85rem;
        gap: 10px;
        margin-left: auto;
        position: relative;


        & span {
            @media (max-width:1000px) {
                display: none;
            }
        }

        &Button {
            align-items: center;
            cursor: pointer;
            display: flex;
            fill: currentColor;
            justify-content: center;
            transition: all 0.2s ease;

            & > * {
                pointer-events: none;
            }

            &:hover {
                fill: $colorPrimary;
            }
        }

        &Icon {
            height: 28px;
            margin-right: 10px;
            pointer-events: none;
            width: 28px;

        }
    }

    &__dropdown {
        background-color: #fff;
        bottom: -16px;
        color: $colorSecondary;
        display: none;
        left: 0px;
        position: absolute;
        transform: translate(-28px, 100%);
        z-index: 20;

        @media (max-width:1000px) {
            bottom: -5px;
            transform: translate(-200px, 100%);
        }
    }

    &__language.active &__dropdown {
        display: block;
    }

    &__dropdownList {
        max-height: 314px;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        overflow-y: scroll;
        overscroll-behavior: contain;
        padding: 14px 13px 30px 33px;
    }

    &__dropdownItem {
        font-size: 1rem;
        padding: 10px 0;

        &:hover {
            text-decoration: underline;
        }
    }

    &__dropdownSearch {
        display: flex;
        justify-content: center;
    }

    &__dropdownSearchButton {
        display: flex;
    }

    &__dropdownSearchIcon {
        align-self: center;
        fill: #fff;
        height: 18px;
        margin-left: -40px;
        width: 18px;
    }

    &__dropdownInput {
        background-color: $colorPrimary;
        border: none;
        color: #fff;
        font-size: 0.7rem;
        height: 60px;
        outline: none;
        padding-left: 33px;
        width: 260px;

        &::placeholder {
            color: #fff;
        }
    }

    &__social {
        align-items: center;
        color: #fff;
        display: flex;
        gap: 10px;

        &Button {
            align-items: center;
            border: 1px solid currentColor;
            border-radius: 50%;
            display: flex;
            height: 28px;
            justify-content: center;
            width: 28px;
        }

        &Icon {
            display: block;
            fill: currentColor;
            height: 15px;
            padding: 1px;
            width: 15px;
        }
    }

    &__search {
        align-items: center;
        display: flex;

        @media (max-width:1000px) {
            display: none;
        }

        &Input {
            background: none;
            background-color: #fff;
            border: none;
            border-radius: 20px;
            display: block;
            float: left;
            height: 40px;
            line-height: 40px;
            outline: none;
            transition: 0.4s;
            width: 40px;
        }

        &Button {
            appearance: none;
            border: none;
            outline: none;
            align-items: center;
            background: #fff;
            background: #efefef;
            border-radius: 50%;
            color: #fff;
            display: flex;
            float: right;
            height: 40px;
            justify-content: center;
            margin-left: -40px;
            padding: 10px;
            text-decoration: none;
            transition: 0.3s;
            width: 40px;
        }

        &:hover &Input,
        &Input:focus {
            padding: 0 3em 0 1em;
            width: 240px;
        }

        &Field {
            border-radius: 20px;
            height: 60px;
        }

        &Icon {
            align-self: center;
            fill: $colorSecondary;
            height: 100%;
            width: 100%;
        }
    }

    &__bottom {
        align-items: center;
        display: flex;
        justify-content: space-between;

        @media (max-width:1000px) {
            padding: 10px 0;
        }

        &Icon {
            display: block;
            fill: $colorSecondary;
            height: 84px;
            width: 384px;

            @media (max-width:1200px) {
                height: 53px;
                width: 240px;
            }
        }
    }

    &__nav {
        @media (max-width:1400px) {
            font-size: .9em;
        }

        @media (max-width:1200px) {
            font-size: .8em;
        }

        ul {
            align-items: center;
            display: flex;
            gap: 2em;

            @media (max-width:1200px) {
                gap: 1em;
            }

            @media (max-width:1000px) {
                display: none;
            }

            li {
                line-height: 1.15px;
                text-transform: uppercase;

                &.active a,
                &:hover {
                    color: $colorPrimary;
                }
            }

            a {
                align-items: center;
                display: flex;
                height: 140px;
                justify-content: center;
                position: relative;

                @media (max-width:1350px) {
                    height: 114px;
                }

                @media (max-width:1200px) {
                    height: 100px;
                }

                &:after {
                    background: $colorPrimary;
                    bottom: 0;
                    content: "";
                    height: 5px;
                    left: 50%;
                    position: absolute;
                    right: 50%;
                    transition: all .2s ease;
                }

                &:hover:after {
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    // nav button
    &__navButton {
        align-items: center;
        cursor: pointer;
        display: none;
        height: 25px;
        justify-content: center;
        margin-left: auto;
        position: relative;
        transition: all 0.2s ease;
        width: 35px;
        z-index: 9;

        @media (max-width: 1000px) {
            display: flex;
        }

        &:hover {
            color: $colorPrimary;
        }

        & > span {
            background: currentColor;
            display: block;
            height: 2px;
            left: 0;
            opacity: 1;
            position: absolute;
            transform: rotate(0deg);
            transition: all 0.25s ease-in-out;
            width: 100%;
        }

        & > *:nth-child(1) {
            top: 0;
        }

        & > *:nth-child(2),
        & > *:nth-child(3) {
            top: calc(50% - 1px);
        }

        & > *:nth-child(3) {
            opacity: 0;
        }

        & > *:nth-child(4) {
            bottom: 0;
        }

        &.active > *:nth-child(1) {
            left: 50%;
            top: calc(50% - 2px);
            width: 0%;

            @media (max-width: 600px) {
                top: calc(50% - 1px);
            }
        }

        &.active > *:nth-child(2) {
            left: 0;
            transform: rotate(45deg);
            width: 100%;
        }

        &.active > *:nth-child(3) {
            opacity: 1;
            transform: rotate(-45deg);
        }

        &.active > *:nth-child(4) {
            left: 50%;
            top: calc(50% - 2px);
            width: 0%;

            @media (max-width: 600px) {
                top: calc(50% - 1px);
            }
        }
    }
}
