/* --------------------------------------------------------------------------- */
/*
/*	accordion
/*
/* --------------------------------------------------------------------------- */
.accordion {
	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&__headline {
		color: #fff;
		font-size: 1.22rem;
		font-weight: bold;
		margin-right: auto;

		@media (max-width:1000px) {
			font-size: 1rem;
		}
	}

	&__button {
		align-items: center;
		background-color: $colorSecondary;
		border: none;
		display: flex;
		height: 85px;
		outline: none;
		padding: 25px;
		width: 100%;

		@media (max-width:1000px) {
			height: 67px;
			padding: 20px;
		}
	}

	&__icon {
		fill: $colorPrimary;
		height: 35px;
		margin-right: 20px;
		object-fit: contain;
		width: 45px;

		@media (max-width:1000px) {
			height: 21px;
			width: 25px;
		}
	}

	&__angle {
		fill: #fff;
		height: 25px;
		transition: all .2s ease;
		width: 27px;
	}

	.active &__angle {
		transform: rotate(180deg);
	}

	&__panel {
		background-color: $colorBackground;
		display: none;
		padding: 30px;

		@media (max-width:1000px) {
			font-size: .8rem;
		}
	}
}