/* --------------------------------------------------------------------------- */
/*
/*	banner
/*
/* --------------------------------------------------------------------------- */
.banner {
	color: #fff;
	position: relative;

	&__image {
		display: block;
		height: 440px;
		object-fit: cover;

		@media (max-width:1000px) {
			height: 240px;
		}
	}

	&__content {
		left: 50%;
		padding: 66px 32px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	&__headline {
		display: flex;
		justify-content: center;
		margin-bottom: 1em;
		text-align: center;

		& h1 {
			font-size: 1.9rem;
			font-weight: bold;
			margin-bottom: unset;

			@media (max-width:750px) {
				font-size: 1.2rem;
			}
		}
	}

	&__icon {
		align-items: flex-end;
		fill: $colorPrimary;
		height: 40px;
		margin-right: 10px;
		text-align: center;
		width: 25px;

		@media (max-width:750px) {
			height: 20px;
			width: 15px;
		}
	}

	&__breadcrump {
		font-size: 0.7rem;
		text-align: center;

		ul {
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				a:hover {
					text-decoration: underline;
				}

				&:not(:last-child) {
					margin-right: 5px;

					&:after {
						content: ">";
						margin-left: 5px;
					}
				}

				&:last-child {
					// pointer-events: none;
				}
			}
		}
	}
}
