/* --------------------------------------------------------------------------- */
/*
/*	cardProfile
/*
/* --------------------------------------------------------------------------- */
.cardProfile {
	color: #fff;
	position: relative;

	&__wrapper {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(7, 1fr);

		@media (max-width:1200px) {
			gap: 20px;
			grid-template-columns: repeat(4, 1fr);
		}

		@media (max-width:800px) {
			gap: 10px;
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width:500px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__wrapper6 {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(6, 1fr);

		@media (max-width:1200px) {
			gap: 20px;
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width:1000px) {
			gap: 10px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__image {}

	&__info {
		bottom: 30px;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		z-index: 5;
	}

	&__name {
		font-weight: bold;
		padding-bottom: .4em;
	}

	&__position {
		font-size: .7em;
	}

	&__overlay {
		background-color: rgba($color: $colorSecondary, $alpha: .9);
		display: flex;
		flex-direction: column;
		inset: 0 0 0 0;
		justify-content: center;
		opacity: 0;
		position: absolute;
		text-align: center;
		transition: all .2s ease;
		z-index: 2;
	}

	&:hover &__overlay {
		opacity: 1;
	}

	&__overlayText {}

	&__overlayIcon {
		display: block;
		fill: currentColor;
		height: 43px;
		margin: 0 auto;
		margin-bottom: 10px;
		width: 43px;
	}
}