/* --------------------------------------------------------------------------- */
/*
/*	contact
/* --------------------------------------------------------------------------- */
.contact {
	margin-bottom: 40px;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__headline {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 1em;
	}

	&__info {
		display: flex;
		font-size: 0.8rem;


		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__icon {
		fill: $colorPrimary;
		height: 1rem;
		margin-right: 6px;
		margin-top: 1px;
		width: 1rem;
	}

	&__link{
		&:hover{
			text-decoration: underline;
		}
	}
}
