/* --------------------------------------------------------------------------- */
/*
/*	filter
/*
/* --------------------------------------------------------------------------- */
.filter {
	background-color: $colorPrimary;
	display: flex;
	justify-content: end;
	padding: 10px 20px;

	@media (max-width: 320px) {}

	&__select {
		border: none;
		border-radius: 5px;
		font-size: 0.7rem;
		height: 56px;
		outline: none;
		padding: 10px;
		width: 250px;
	}
}