/* --------------------------------------------------------------------------- */
/*
/*	form
/*
/* --------------------------------------------------------------------------- */
.form {
    background-color: #fff;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    padding: 34px 30px;

    &__headline {
        align-items: center;
        background-color: $colorPrimary;
        color: #fff;
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }

    &__row {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;

        &--2 {
            grid-template-columns: 1fr 1fr;

            @media (max-width:1200px) {
                grid-template-columns: 1fr;
            }
        }

        &--2wide {
            grid-template-columns: 1fr 1fr;

            @media (max-width:800px) {
                grid-template-columns: 1fr;
            }
        }
    }

    &__error {
        font-size: 0.55rem;
        padding-left: 20px;
        padding-top: 5px;

        &:empty {
            display: none;
        }
    }

    &__label {
        font-size: 0.8rem;
        margin-bottom: 11px;

        &:after {
            color: $colorPrimary;
            content: '*';
        }
    }

    &__input {
        border: 1px #dbdbdb solid;
        display: block;
        height: 70px;
        padding: 26px;
        width: 100%;

        @media (max-width:1000px) {
            height: 60px;
        }

        &:focus {
            background-color: #fff;
            border-color: #80bdff;
            box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
            // outline: none;
            color: #495057;
            outline: 0;
        }

        &--textarea {
            height: 177px !important;
            resize: none;
        }
    }

    &__button {
        background-color: #f37021;
        border: 0;
        border-radius: 10px;
        color: #fff;
        font-size: .9rem;
        font-weight: normal;
        line-height: 1.12;
        outline: 0;
        padding: 20px;
        position: relative;
        text-transform: uppercase;
    }

    &__note {
        font-size: 0.7rem;
    }
}