/* --------------------------------------------------------------------------- */
/*
/*	imageNews
/*
/* --------------------------------------------------------------------------- */
.imageNews {
	background-color: $backgroundGrey;
	color: #fff;
	display: block;
	min-height: 520px;
	position: relative;

	@media (max-width:1000px) {
		display: flex;
		min-height: 220px;
	}

	&:hover &__image {
		transform: scale(1.1);
		transition: all .6s ease;
	}

	&__type {
		background-color: $colorPrimary;
		font-size: 0.63rem;
		padding: 10px 20px;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		top: 0;
		z-index: 10;
	}

	&__imageContainer {
		margin-bottom: 1em;
		overflow: hidden;
		transition: all .6s ease;

		@media (max-width:1000px) {
			bottom: 0;
			height: 100%;
			left: 0;
			object-fit: cover;
			position: absolute;
			right: 0;
			top: 0;

			&:before {
				background-color: rgba(0, 0, 0, .2);
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 2;
			}
		}
	}

	&__image {
		display: block;
		width: 100%;
	}

	&__content &__headline {
		padding: 0;
	}

	&__headline {
		font-weight: normal;
		margin-bottom: 2.44rem;
		padding: 0 40px;

		@media (max-width:1000px) {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-bottom: 0;
			padding: 0 12px;
			position: relative;
			text-align: left;
			z-index: 10;

			h3 {
				font-size: 1.2em;
			}
		}
	}
}