/* --------------------------------------------------------------------------- */
/*
/*	pagination
/*
/* --------------------------------------------------------------------------- */
.pagination {
	display: flex;
	justify-content: center;

	&__button {
		align-items: center;
		background-color: $colorSecondary;
		color: #fff;
		display: flex;
		font-size: 0.77rem;
		height: 30px;
		justify-content: center;
		padding: 5px;
		width: 30px;

		&:not(:last-child) {
			margin-right: 5px;
		}
		&.active,
		&:hover{
			background-color: $colorPrimary;
		}
	}
}