 /* ==========================================================================
 *
 *    CSS main
 *
 *  ========================================================================== */



/* --------------------------------------------------------------------------- */
/*
/*	Variables
/*
/* --------------------------------------------------------------------------- */
// fonts
$fontRegular:  'Arial', sans-serif;


$colorPrimary: #f37021;
$colorSecondary: #203062;
$colorFont: #4b4b4b;

$backgorundDark: #4b4b4b;
$backgroundGrey:  rgba(0,0,0,.2);

// colors
$colorDanger: red;


/* --------------------------------------------------------------------------- */
/*
/*	Vendor Imports
/*
/* --------------------------------------------------------------------------- */

@import
'vendor/normalize';




/* --------------------------------------------------------------------------- */
/*
/*	Imports
/*
/* --------------------------------------------------------------------------- */

// template
@import
'template/fonts',
'template/globals',
'template/padding',
'template/header',
'template/footer',
'template/animation',
'template/consentfriend';


// modules
@import
'modules/form',
'modules/teaser',
'modules/imageContent',
'modules/news',
'modules/imageNews',
'modules/footerSocial',
'modules/footerCenter',
'modules/footerBottom',
'modules/tabs';


// components
@import
'components/headlines',
'components/buttons',
'components/content';
